--- 
interface Props {
	title: string;
	description: string
}

const { title, description} = Astro.props;
---

<!DOCTYPE html>
<html lang="en" data-theme="light">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta property="og:type" content="website" />
		<meta property="og:url" content={Astro.url} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		
		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content={Astro.url} />
		<meta property="twitter:title" content={title} />
		<meta property="twitter:description" content={description} />
		<meta property="twitter:image" content={image} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/icons/logo.png" />
		<meta name="generator" content={Astro.generator} />
		<link rel="dns-prefetch preconnect" href="https://postrapi.pockethost.io">
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
 
